/* Algemene stijl gehele body */
body {
    text-align: center;
    font-family: verdana;
}

/* Grootte en opmaak 0-10 */
#clickerButton {
    width: 16em;
    height: 8em;
    color: white;
    background-color: blue;
}

/* Grootte en opmaak 10-20 */
#clickerButtonSmaller1 {
    width: 15em;
    height: 7em;
    color: blue;
    background-color: plum;
}

/* Grootte en opmaak 20-30 */
#clickerButtonSmaller2 {
    width: 14em;
    height: 6em;
    color: blue;
    background-color:greenyellow;
}

/* Grootte en opmaak 30-40 */
#clickerButtonSmaller3 {
    width: 13em;
    height: 5em;
    color: blue;
    background-color: aqua;
}

/* Opmaak boodschappenlijst */
#groceryTableContainer {
    width: 100%;
    justify-content: center;
    display: flex;
}

#submitButton {
    color: white;
    background-color: blue;
}